version: "3.9"

services:
  backend:
    build: ./backend
    restart: always
    environment:
      DATABASE_URL: postgresql://neondb_owner:npg_RVvqfztkm0o8@ep-quiet-surf-ac5crtel-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
      PORT: 3001
      ENCRYPTION_KEY: carbat-orcapro-chave-secreta-2024
      JWT_SECRET: carbat_orcapro_secret_2024
    ports:
      - "3001:3001"

  frontend:
    build: ./frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:80"
